/* The three faces of Kihea's design system, self-hosted and subset to Latin.
   The system's own tokens/fonts.css pulls these from the Google Fonts CDN;
   ADR-004 forbids a third-party fetch at read time, so the same families are
   served from /fonts instead. All three are SIL Open Font License 1.1:
   Sono (Wei Huang), Literata (TypeTogether), Shantell Sans (Anya Danilova,
   Kris Sowersby, Anna Wolf). No GPL, commercial use permitted. */
@font-face {
  font-family: "Sono Variable";
  src: url("/fonts/sono-variable-latin.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata Variable";
  src: url("/fonts/literata-variable-latin.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shantell Sans Variable";
  src: url("/fonts/shantell-sans-variable-latin.woff2") format("woff2");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}
